<div class="gift-constainer">
<div class="gift-pic-container">
    <img style="width:100%" src="{{this.picture}}" alt="picture of {{this.name}}" class="gift-picture">
</div>
  <div class="gift-info">
    <div class="Gift-info-header">
    {{#if this.isFavorite}}
    <p><i class="fas fa-heart"></i></p>
    {{/if}}
      <h3 class="gift-name">{{this.name}}</h3>
    {{#if this.brand}}
      <h4 class="gift brand"><b>By</b> {{this.brand}}</h4>
    {{/if}}
    {{#if this.price}}
      <h3 class="gift-price">{{this.price}} {{this.currency}}</h3>
    {{/if}}
    {{#if this.comment}}
      <p class="comment"><b>Comment :</b> {{this.comment}}</p>
    {{/if}}
</div>
</div>


    