<div class="gift-constainer">
<div class="gift-pic-container">
    <img style="width:100%" src="{{this.picture}}" alt="picture of {{this.name}}" class="gift-picture">
</div>
  <div class="gift-info">
    <div class="Gift-info-header">
    {{#if this.isFavorite}}
    <p><i class="fas fa-heart"></i></p>
    {{/if}}
      <h1 class="gift-name">{{this.name}}</h1>
    {{#if this.brand}}
      <p class="gift brand">by {{this.brand}}</p>
    {{/if}}
    {{#if this.price}}
      <h4 class="gift-price">{{this.price}} {{this.currency}}</h4>
    {{/if}}
    {{#if this.comment}}
      <p class="comment">Comment: {{this.comment}}</p>
    {{/if}}