{{this.name}}
{{#each this.gifts}}
<div class="gift_list">
    <img class="gift_image" src="{{this.picture}}" alt="">
    <div>
        <h4 class="gift_name">{{this.name}}</h4>
        <h2 class="gift_price">{{this.price}}€</h2>
    </div>
        <div class="state">
        {{#if this.isAvailable}}
            <i class="fas fa-store-alt not-bought"></i> <a href="/gifts/book/{{this._id}}">Not bought yet</a> 
        {{else}}
            <i class="fas fa-store-alt bought"></i>User bought it
        {{/if}}
    </div>
</div>
{{/each}}