
<div class="page_title">{{name}}</div>
{{#each gifts}}
<div class="gift_list">
    <img class="gift_image" src="{{this.picture}}" alt="">
    <div>
        <h4 class="gift_name">{{this.name}}</h4>
        <h2 class="gift_price">{{this.price}} {{this.currency}}</h2>
    </div>
        <div class="state {{#if this.isAvailable}}free{{else}}unavailable{{/if}}">
        {{#if this.isAvailable}}
            <a class="not-bought" href="/events/{{../eventId}}/book/{{this._id}}">Choose it</a> 
        {{else}}
         <div class="bought">Bought by {{#each this.gifters}}{{#if this.name}}{{this.name}}{{else}}someone{{/if}} </div> {{/each}}
        {{/if}}
        </div>
</div>
{{/each}}