<div class="create_list_form">
    <div class="page_title">Event {{event.name}}</div> 
    {{!-- {{event._id}} --}}
    {{#each event.lists}}
        {{!-- {{> list name=this.name gifts=this.gifts eventId=../event._id}} --}}
        {{> list name=this.name gifts=this.gifts}}
    {{/each}}

    <form action="/events/addlist/{{event._id}}" method="post">
        <label for="list-add-gifts"></label>
        <select name="list" id="list-add-gifts" multiple>
        {{#each lists}}
            <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
        </select>   
        <button>Add an event</button>
    </form>

    <form action="/events/addToUser/{{event._id}}" method="post" class="invite_user">
        <label for="list-add-to-user">Invite colaborator to the list via emai</label>
        <input type="email" name="email" id="list-add-to-user" placeholder="Enter colaborator's email">
        <button class="btn">Invite</button>
    </form>

    <a class="delete_list" href="/lists/delete/{{list._id}}">Delete the list</a>
</div>