<div class="filter"> 
        <form action="">
               <label for="isAvailaible">Available</label>  
                <label class="switch">
            <input type="checkbox"  id="isAvailaible" name="isAvailaible">
            <span class="slider round"></span>
            </label>
        </form>
        <form class="sort">
            <a id="increase-filter"><i class="fas fa-sort-amount-down-alt"></i></a>
            <a id="decrease-filter"><i class="fas fa-sort-amount-down"></i></a>
        </select>
        </form> 
    </div>
<div class="page_title push-down">{{event.name}}</div>
{{!-- <div class="page_subtitle push-down">{{event.date}}</div>  TODO: make date work--}}
<div class="create_list_form">
    {{!-- {{event._id}} --}}
    {{#each event.lists}}
        {{> list name=this.name gifts=this.gifts eventId=../event._id}}
        {{!-- {{> list name=this.name gifts=this.gifts}} --}}
    {{/each}}
    {{#if isConnected}} 
        <div class="manage-list">
        <form action="/events/addlist/{{event._id}}" method="post" class="create_list_form">
            <p>Add a list to the event</p>
            <select name="list" id="list-add-gifts" multiple>
            {{#each lists}}
                <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
            </select> 
            <button class="btn_all_width_sec">Add list</button>  
        </form>
        <form action="/events/addToUser/{{event._id}}" method="post" class="create_list_form">
            <p>Invite a guest to add his/her list.s</p>
            <input type="email" name="email" id="list-add-to-user" placeholder="Guest email">
            <button class="btn_all_width">Invite</button>
        </form>
        <a class="share" id="share_btn">
                <i class="fas fa-share-alt"></i> Share {{event.name}} with everyone
        </a>
     {{/if}}
    </div>
</div>