<div class="list">
    {{#each event.lists}}
        <div class="event-list-container">
            <h2>{{this.name}} list</h2>
            {{> list name=this.name gifts=this.gifts eventId=../event._id}}
        </div>
    {{/each}}

    {{#if isConnected}} 

    <div class="manage-list">
        <form action="/events/addlist/{{event._id}}" method="post" class="create_list_form">
            <button>Add a list</button>
            <select name="list" id="list-add-gifts" multiple>
            {{#each lists}}
                <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
            </select>   
        </form>

        <form action="/events/addToUser/{{event._id}}" method="post" class="create_list_form">
            <button>Share with another user</button>
            <label for="list-add-to-user"></label>
            <input type="email" name="email" id="list-add-to-user" placeholder="francis@gmail.com">
        </form>
    </div>
    {{/if}}
</div>