<div class="list">
    {{!-- {{list.name}}
    {{#each list.gifts}}
    <div class="gift-in-list">
        <div >
            <ul>
                <li>{{this.name}}</li>
                <li>{{this.price}}</li>
            </ul>
        </div> 
        <div>
            {{#if this.isTaken}}
                Has been bought
            {{else}}
                Nobody has bought it
            {{/if}}
        </div>
    </div>
    {{/each}} --}}
    {{> list list}}

    <form action="/lists/addGift/{{list._id}}" method="post">
        <label for="list-add-gifts"></label>
        <select name="gifts" id="list-add-gifts" multiple>
        {{#each gifts}}
            <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
        </select>   
        <button>Add a gift</button>
    </form>

    <form action="/lists/addToUser/{{list._id}}" method="post">
        <label for="list-add-to-user"></label>
        <input type="email" name="email" id="list-add-to-user">
        <button>Add to the user</button>
    </form>

    <a href="/lists/delete/{{list._id}}">Delete the list</a>
</div>