<div class="list">
    {{> list list}}

    <div class="manage-list">
        <form action="/lists/addGift/{{list._id}}" method="post" class="create_list_form"> 
            <button>Add an already existing gift</button>
            <select name="gifts" id="list-add-gifts" multiple>
            {{#each gifts}}
                <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
            </select>   
        </form>
        <form action="/lists/addToUser/{{list._id}}" method="post" class="create_list_form">
            <button>Share with another user</button>
            <input type="email" name="email" id="list-add-to-user" placeholder="francis@gmail.com">
        </form>
    </div>
    <div class="fixed-foot"> 
        <a class="create_gift" href="/gifts/create/{{list._id}}">Create A gift</a>
        <a class="delete_list" href="/lists/delete/{{list._id}}">Delete the list</a>
    </div>
    
</div>
