<div class="list">
    {{> list list}}
    {{#if gifts}}
    
        <a href="/gifts/create/{{list._id}}" class="btn_all_width">
            Create a new gift
        </a>
    {{/if}}
    <form class="pick_gift" action="/lists/addGift/{{list._id}}" method="post">
        {{#if gifts}}
        <label for="list-add-gifts">Pick an existing gift from the list below</label>
        <select name="gifts" id="list-add-gifts" multiple>
        {{#each gifts}}
            <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
        </select>
        <button  class="btn_all_width_sec">Add an existing gift</button>
        {{/if}}
    </form>

    {{#unless gifts}}
    <div class="flex">
        <img style="width=100%" src="/img/create_gift.png" alt="">
        <p>Oh, you have no gifts, please create a new gift!  </p>
        <a class="btn_all_width" href="/gifts/create/{{list._id}}">Create a gift</a>
    </div>
    {{/unless}}
    <form action="/lists/addToUser/{{list._id}}" method="post" class="invite_user .form_style">
        <label for="list-add-to-user">Allow someone to edit the list</label>
        <input type="email" name="email" id="list-add-to-user" placeholder="His/her email">
        <button class="btn_all_width_sec">Share the list</button>
    </form>
    <div class="flex">
    </div>
</div>