<div class="list">
    {{> list list}}
    <form action="/lists/addGift/{{list._id}}" method="post">
        <label for="list-add-gifts"></label>
        <select name="gifts" id="list-add-gifts" multiple>
        {{#each gifts}}
            <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
        </select>   
        <button>Add a gift</button>
    </form>
    <form action="/lists/addToUser/{{list._id}}" method="post">
        <label for="list-add-to-user"></label>
        <input type="email" name="email" id="list-add-to-user">
        <button>Add to the user</button>
    </form>
    <div class="flex">
        <a class="create_gift" href="/gifts/create/{{list._id}}">Create A gift</a>
    <a class="delete_list" href="/lists/delete/{{list._id}}">Delete the list</a>
    </div>
    
</div>
